
<section class="hiring">
    <img src="../../assets/background.jpg">
    <div class=" hiringcontent float-sm-start float-md-start float-lg-start">
        <h3>We Are Hiring Interns </h3>
<p>The Student Intern program is a structured and guided work-based learning program for students currently enrolled in India.<br>
 There is a small registration fee, INR 600 /- (RUPEES Four HUNDRED ONLY) applicable to all incoming interns  as part of this One-of-a-Kind Point based Program. This is required not just to ensure a seamless on-boarding and exit process but also to supply the interns with relevant study material and make them aware of how a corporate setup works.
            
            Scan the QR code to complete your payment and submit the below
            application form to start with your registration process.
            
            </p>
        
    </div>
</section>
<h2 class="text-center">Application form</h2>
<p  class="text-center text-secondary">Registration fee Rs 200/-</p>
<section>
<select class="form-select form-select-sm mx-auto " aria-label=".form-select-sm ">
    <p  class=" text-dark">Registration fee Rs 200/-</p>
    <option >choose releavent internship opening</option>
    <option value="1">Digital marketing</option>
    <option value="2">market research</option>
    <option value="3">Sales </option>
    <option value="3">Text content preparation </option>
    <option value="3">Graphic content preparation</option>
    <option value="3">video content preparation </option>
    <option value="3">Audio content preparation </option>
  </select>
  <br>
  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>Employment status</option>
    <option value="1">College student</option>
    <option value="2">Unemployed</option>
    <option value="3">Employed</option>
    <option value="3">Other</option>
  </select>
  <br>
  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <br>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="">Email address</label>
  </div>
  <button class="btn-secondary mx-0"> next</button>

  
</section>
<br>
<div class="text-center bg-danger">
    <h3>© 2020 Limitless Technologies - The Entrepreneurship Network</h3>
</div>
  
