<section>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../../assets/course1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sales:</h5>
              <p class="card-text">Internship + Training + Career + counselling + Resume & linkidin profile</p>
              <p>200.00</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../assets/course2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Human Resource:</h5>
              <p class="card-text">Human resources + Training + Career + counselling + Resume & linkidin profile</p>
              <p>200.00</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../assets/course3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sales:</h5>
              <p class="card-text">Internship + Training + Career + counselling + Resume & linkidin profile</p>
              <p>400.00</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../assets/course4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Human Resource:</h5>
              <p class="card-text">Human resources + Training + Career + counselling + Resume & linkidin profile</p>
              <p>200.00</p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="../../assets/course5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sales:</h5>
                <p class="card-text">Internship + Training + Career + counselling + Resume & linkidin profile</p>
                <p>400.00</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="../../assets/course6.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Human resources</h5>
                
              </div>
            </div>
          </div>
      </div>
</section>
<br>
<div class="text-center bg-danger">
  <h3>© 2020 Limitless Technologies - The Entrepreneurship Network</h3>
</div>
